/**************** GENERALITES *************/

body
{
    font-family: 'Poppins', sans-serif;
    color: #616161;
}
.text-profil
{
    color: #76FF03;
    text-transform: uppercase;
    text-align: center;
    text-decoration: solid;
    font-size: 1.2em;
}
.contact_b, .for_me, .hobbies
{
    background-color: #616161;
    padding-top: 5px;
}
hr 
{
    border-top: 2px solid #76FF03;
}
.text-cursus
{
    text-transform: uppercase;
    color: black;
    position: relative;
}
.text-cursus i
{
    
    font-size: 1.7em;
    color: #76FF03;
    position: absolute;
}
h6
{
    text-transform: uppercase;
}
.definition
{
    font-style: italic;
}
.content, .comp_content, p
{
    font-size: 0.8em;
    text-align: justify;
}
h1, .job_subtitle
{
    padding-left: 4%;
}
section
{
    padding: 2% 4%;
}

/**************** ASIDE *************/

aside
{
    background-color: #76FF03;
}
.photo_cc
{
    padding-top: 15%;
    padding-bottom: 9%;
    display: flex;
    justify-content: center;
}
.photo_cc:hover img
{
    transform: scale(1.2);
}
.photo_cc img
{
    border: 5px solid rgba(245,245,245 ,0.6 );
    max-width: 61%;
}
address
{
    padding: 8% 2% 2% 8%;
}
.text_me
{
    padding: 8%;
}
.loisirs
{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.hobbies
{
    margin: 0;
}
.picto
{
    margin-bottom: 40px;
    margin-top: 20px;
}
.picto i
{
    border: 2px solid #616161;
    border-radius: 50%;
    padding: 5px;
}
.loisirs_picto
{
    display: flex;
    justify-content: space-around;
}

/**************** HEADER *************/

header
{
    padding-top: 9%;
    padding-bottom: 6%;
}
h1
{
    text-transform: uppercase;
}
.firstname
{
    color: #76FF03;
}
.dev
{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #76FF03;
}

/**************** SECTION FORMATION ET EXPERIENCE PROFESSIONNELLE *************/

h4 
{
    padding-left: 60px;
    font-size: 1.3em;
}
hr
{
    margin-bottom: 30px;
}
.dot_date
{
    color: #76FF03;
    margin-right: 15px;
    font-size: 0.9em;
}
.dot
{
    font-size: 0.5em;
    color: #76FF03;
    margin-right: 15px;
    position: relative;
}
.city
{
    position: absolute;
    margin-left: 25px;
    top: 15px;
}

/**************** SECTION COMPETENCES *************/

.comp_content
{
    padding: 5px 10px 0 0;
    
}
.comp_div div
{
    border-right: 1px solid #76FF03;
}
.comp_div div:nth-child(4)
{
    border-right: none;
}

/**************** MEDIA QUERIES *************/

@media only screen and (max-width: 768px) or (orientation: portrait)
{
.for_me, .text_me, .loisirs
{
    display: none;
}
aside
{
    font-size: 1.5em;
}
.content, .comp_content
{
    font-size: 1.2em;
}
h6, .definition
{
    font-size: 1.3em;
}
address, header
{
    text-align: center;
}
header
{
    margin: 5px auto;
}
.comp_div div
{
    border-right: none;
}
}